extends layout

block append scripts

	script(src="/js/bootstrap.js")
	script(src='/js/index.js')

block content

	.jumbotron.well

		h3
			| Pair programming made easy!
		p.lead
			| Initiate a hassle-free, live pair programming session. You don't have to be in the same room.

		br
		a(href="#myModal", role="button", data-toggle="modal").btn.btn-large.btn-success Start a session
	hr

	.row-fluid.marketing
		.span6

			h4="Fast"
			p
				|No registration. Create a new session and share the link, we'll bring it live.

			h4="Communicate."
			P
				|Live chat to communicate with your partner.

			h4="Just like an IDE."
			p
				|On the fly syntax highlighting; code checker that notifies you of glitches.

		.span6

			h4="Pair programming"
			p
				|Switch between the driver and navigator modes anytime.

			h4="Show it."
			p
				|Add spectators to the pair session.

			h4="Share."
			p
				|When you're done, share the code on gist/github.

	div(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.hide.fade#myModal
		.modal-header
			h4 Session
		.modal-body

			.row-fluid
				.span6
					.right-seperator 

						h5.pagination-centered Express
						
						small.justify
							| Don't want to log in? You can quickly set-up a session and invite your peer. This feature is suited if you're looking for
							| a quick session but provides limited features.

						br
						br

						.pagination-centered
							a(href="#", role="button").btn.btn-medium.btn-success Start express session

				.span6
					.pagination-centered

						h5 Log In

						form.form-horizontal

						.control-group
							label.control-label
								| Username:
							.controls
								input(name='user', type='text', size='15', required, placeholder="Username").input-medium

						.control-group
							label.control-label
								| Password:
							.controls
								input(name='password', type='password', required, placeholder="Password").input-medium							

						.control-group
							.controls
								input(type='submit', value='Log In').btn.btn-medium.btn-success

						br
						small
							|Don't have a login yet? Get a free account.

						br
						br
						a(href="#", role="button").btn.btn-small.btn-success Register